.nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.navbar {
  background-color: var(--color-light-black);
  overflow: hidden;
  font-family: 'MedievalSharp';
  width: auto;
  border-radius: 20px;
  border: 1px solid var(--color-gold-dark);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}

.nav-list li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--color-beige);
}

.nav-list li a:hover {
  background-color: var(--color-black);
  border-radius: 50px;
}
