<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="register-container">
  <h2>Registro</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="register-form">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="name"
        required
        minlength="2"
        #nameInput="ngModel"
        class="form-control"
      />
      <div *ngIf="nameInput.invalid && nameInput.touched" class="error">
        Por favor, introduce tu nombre.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        #emailInput="ngModel"
        class="form-control"
      />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
        Por favor, introduce tu email.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="8"
        #passwordInput="ngModel"
        class="form-control"
      />
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
        La Contraseña debe tener al menos 8 caracteres.
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm">Confirmar Contraseña:</label>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        [(ngModel)]="passwordConfirm"
        required
        minlength="8"
        #passwordConfirmInput="ngModel"
        class="form-control"
      />
      <div *ngIf="passwordConfirmInput.invalid && passwordConfirmInput.touched" class="error">
        Por favor, confirma tu contraseña.
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="profilePhoto">Foto de Perfil (opcional):</label>
      <input type="file" id="profilePhoto" (change)="onFileSelected($event)" />
    </div> -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div class="form-group">
      <label>Rol:</label>
      <div>
        <label>
          <input type="radio" name="rol" [(ngModel)]="rol" value="maestro" required />
          Master
        </label>
        <label>
          <input type="radio" name="rol" [(ngModel)]="rol" value="jugador" required />
          Jugador
        </label>
      </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="btn-register">Registrarse</button>
  </form>
    <p class="login-text">
      Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a>
    </p>
  </div>
</body>
</html>
