<section class="home-content">
  <app-navbar></app-navbar>

  <div class="resources-container">
    <h1 class="section-title">Recursos</h1>

    <div class="resources-list">
      <!-- Recurso individual -->
      <div class="resource-card" *ngFor="let recurso of recursos">
        <h2>{{ recurso.titulo }}</h2>
        <p>{{ recurso.descripcion }}</p>
        <a [href]="recurso.url" target="_blank" class="download-btn">Descargar</a>
      </div>
    </div>
      <!-- Card para subir nuevo recurso (solo para máster/admin)  -->
      
  </div>
</section>