<section class="home-content">
  <app-navbar></app-navbar>

  <div class="profile-container">
    <h1 class="section-title">Perfil de Usuario</h1>

    <div class="profile-card">
      <div class="profile-avatar">
      <img *ngIf="user && user.imagen" [src]="getImageUrl()" alt="{{ user.name }}" class="character-image" />
      
      <label class="btn-upload">
        Cambiar imagen
        <input type="file" (change)="onImageSelected($event)" hidden />
      </label>
    </div>

      <div class="profile-info">
        <p><strong>Nombre:</strong> {{ user?.name }}</p>
        <p><strong>Correo:</strong> {{ user?.email }}</p>
        <p><strong>Rol:</strong> {{ user?.rol }}</p>
      </div>

      <button class="btn-edit" (click)="saveProfile()">Guardar</button>
    </div>
  </div>
</section>
